body {
  @extend %manrope500;
  font-size: 15px;
  color: #fff;
  @extend %bgc-main;
  overflow-x: hidden;
  overflow-y: auto;
}

body.lock {
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  position: relative;
}

.content {
  width: calc(100% - 280px);
  padding-top: 80px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 6;
    display: none;
  }
}

.popup-partners {
  .simplebar-track.simplebar-vertical {
    @extend %bgc-accent;
  }
}

.accent {
  color: #f7b90f;
}
