body {
  @extend %manrope500;
  font-size: 15px;
  color: #fff;
  @extend %bgc-main;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400vh;
}

body.lock {
  overflow: hidden;
}

.content {
  width: calc(100% - 280px);
  padding-top: 80px;
}

.accent {
  color: #f7b90f;
}

