%manrope500 {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

%manrope600 {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

%manrope700 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

%manrope800 {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

%bgc-main {
  background-color: #2a2a2e;
}

%bgc-accent {
  background-color: #35353a;
}

%bgc-accent2 {
  background-color: #3f3f44;
}

%bgc-decor {
  background-color: #f7b90f;
}

%txtc-accent {
  color: #999;
}

%txtc-accent2 {
  color: #666;
}

%bxshd {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.05);
}