@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  position: fixed;
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  @extend %bgc-accent;
  @extend %bxshd;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 41;
  &::before {
    content: "";
    position: absolute;
    width: 380px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    top: 50%;
    right: 20px;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    @extend %bgc-decor;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-top: -4px;
    right: 400px;
    top: 50%;
    z-index: -1;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 230px;
  position: relative;
  &__img {
    height: 40px;
    width: auto;
  }
  &__text {
    padding-left: 36px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 150px;
      height: 40px;
      left: 164px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
  &::before {
    content: "";
    position: absolute;
    @extend %bgc-decor;
    top: 50%;
    right: 0;
    width: 1px;
    height: 40px;
    transform: translateY(-50%);
  }
}

.modal-btn {
  padding: 0 38px;
  height: 45px;
  @extend %bgc-decor;
  @extend %bxshd;
  border-radius: 2px;
  font-size: 10px;
  text-transform: uppercase;
  color: #292929;
  font-weight: 700;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__text {
    margin-left: 6px;
  }
  &:hover {
    box-shadow: 0px 0px 0px 0px rgba(88, 103, 221, 0.19);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
}

.sidebar {
  min-width: 280px;
  &__inner {
    overflow-y: auto;
    position: fixed;
    padding-top: 130px;
    padding-bottom: 40px;
    width: 280px;
    height: 100vh;
    @extend %bgc-accent;
    z-index: 40;
    &::before {
      content: "";
      position: fixed;
      background-color: rgba(255, 255, 255, 0.05);
      width: 150px;
      height: 80px;
      left: 0;
      bottom: 0;
    }
  }
  &__title {
    font-size: 13px;
    font-weight: 800;
    @extend %txtc-accent;
    text-transform: uppercase;
    padding: 0 20px;
    margin-bottom: 15px;
  }
}

.nav {
  margin-bottom: 50px;
  &__link {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 18px 20px 18px 60px;
    background-color: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color: #fff;
    transition: all 0.2s linear;
    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 0;
      @extend %bgc-decor;
      transition: all 0.2s linear;
    }
    &:hover {
      color: #f7b90f;
      &::before {
        height: 100%;
      }
    }
  }
  &__icon {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.contact {
  margin-bottom: 50px;
  &__list {
    margin-bottom: 5px;
  }
  &__link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color: #fff;
    padding: 0 20px 0 40px;
    transition: all 0.2s linear;
    position: relative;
    &:hover {
      color: #f7b90f;
    }
  }
  &__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.messenger {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    height: 1px;
    left: 20px;
    right: 20px;
    bottom: -30px;
  }
  &__item + .messenger__item {
    margin-left: 10px;
  }
  &__link {
    @extend %bgc-decor;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    &:hover {
      border-radius: 100%;
    }
  }
}

.bg-decor {
  position: fixed;
  right: -300px;
  top: 200px;
  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    @extend %bgc-decor;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__circle1 {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: rotate1 5s infinite;
    background-color: #2d2d32;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      @extend %bgc-decor;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__circle2 {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: rotate2 3s infinite;
    background-color: #303035;
    &::before {
      content: "";
      position: absolute;
      @extend %bgc-decor;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.hero {
  padding: 50px;
  position: relative;
  z-index: 5;
  &__inner {
    padding: 40px 70px;
    @extend %bgc-accent;
    @extend %bxshd;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.06);
      background-color: rgba(255, 255, 255, 0.05);
      left: -100px;
      top: -100px;
    }
  }
  &__text {
    position: relative;
    max-width: 60%;
    margin-right: 40px;
  }
  &__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 65px;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 22px;
    margin-bottom: 40px;
  }
  &__border {
    width: 60%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: 40px;
    z-index: 5;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 1px;
      @extend %bgc-decor;
    }
  }
  &__btn {
    padding: 0 38px;
    height: 45px;
    @extend %bgc-decor;
    @extend %bxshd;
    border-radius: 2px;
    font-size: 10px;
    text-transform: uppercase;
    color: #292929;
    font-weight: 700;
    transition: all 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    position: relative;
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(88, 103, 221, 0.19);
    }
  }
  &__btn-text {
    margin-left: 6px;
  }
  &__pattern {
    position: absolute;
    left: -64px;
    bottom: -79px;
    width: 100%;
    height: 300px;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    z-index: 1;
    opacity: 0.08;
  }
  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
  }
  &__img-inner {
    position: relative;
  }
  &__img-tranglewrp {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 0;
    top: 0;
    z-index: 6;
  }
  &__img-trangleprl {
    width: 120px;
    height: 120px;
  }
  &__img-trangle {
    width: 120px;
    height: 120px;
    border-top: 4px solid #f7b90f;
    transform: rotate(25deg);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -42px;
      left: 17px;
      width: 85px;
      height: 85px;
      transform: rotate(45deg);
      border-right: 4px solid #f7b90f;
      border-bottom: 4px solid #f7b90f;
    }
  }
  &__img-parallax {
    position: relative;
    z-index: 5;
  }
  &__img {
    position: relative;
  }
  &__img-circlewrp {
    position: absolute;
    left: -23px;
    bottom: -23px;
    width: 100px;
    height: 100px;
  }
  &__img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid #f7b90f;
    position: relative;
  }
  &__img-rectwrp {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 150px;
    position: absolute;
  }
  &__img-rect {
    @extend %bgc-decor;
    width: 100%;
    height: 150px;
  }
  &__bage {
    display: flex;
  }
  &__bage-item {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 40px 30px;
    @extend %bgc-accent;
    @extend %bxshd;
    align-items: center;
    width: 33.333%;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.06);
      background-color: rgba(255, 255, 255, 0.05);
      right: -40px;
      top: -40px;
    }
  }
  &__bage-item + .hero__bage-item {
    margin-left: 30px;
  }
  &__bage-icon {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 30px;
    @extend %bgc-decor;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.14);
    z-index: 2;
  }
  &__bage-num {
    position: relative;
    font-size: 34px;
    line-height: 1;
    color: #f7b90f;
    font-weight: 800;
    z-index: 2;
    margin-bottom: 10px;
  }
  &__bage-subtitle {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 4px;
  }
  &__bage-decor {
    position: absolute;
    font-size: 100px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    opacity: 0.08;
    font-weight: 800;
    z-index: 1;
  }
}

.partners {
  position: relative;
  z-index: 5;
  &__bg {
    margin: 0 50px 50px 50px;
    padding: 50px;
    @extend %bgc-accent;
    @extend %bxshd;
  }
  &__title {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 800;
    text-align: center;
  }
  &__text {
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 25px;
    max-width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__niche-box {
    display: flex;
    justify-content: center;
  }
  &__niche {
    display: block;
    width: 200px;
  }
  &__niche + .partners__niche {
    margin-left: 30px;
  }
  &__niche-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    @extend %bgc-accent2;
    margin: 0 auto;
  }
  &__niche-text {
    color: #fff;
    text-align: center;
    font-size: 15px;
    display: block;
    padding-top: 15px;
    margin-bottom: 50px;
  }
  &__slider {
    display: flex;
    margin: 0 50px 50px 50px;
  }
  &__slider-text {
    width: 200px;
    margin-right: 30px;
  }
  &__slider-title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  &__slider-border {
    height: 1px;
    background-color: rgba(255,255,255,.1);
    position: relative;
    &::before {
      content: '';
      left: 0;
      top: 0;
      height: 1px;
      width: 50px;
      @extend %bgc-decor;
      position: absolute;
    }
  }
  &__slider-item {
    @extend %bgc-accent;
  }
  &__slider-logo {
    padding: 20px 50px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-bottom: 50px;
  }
  &__slider-name {
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  &__slider-descr {
    padding: 0 15px;
  }
}

@import "media";
