@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: fixed;
  height: 80px;
  left: 0;
  top: 0;
  width: 100%;
  @extend %bgc-accent;
  @extend %bxshd;
  z-index: 41;

  &__inner {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 380px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      top: 50%;
      right: 20px;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      @extend %bgc-decor;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin-top: -4px;
      right: 400px;
      top: 50%;
      z-index: -1;
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 230px;
  position: relative;

  &__img {
    height: 40px;
    width: auto;
  }

  &__text {
    padding-left: 36px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 150px;
      height: 40px;
      left: 164px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &::before {
    content: "";
    position: absolute;
    @extend %bgc-decor;
    top: 50%;
    right: 0;
    width: 1px;
    height: 40px;
    transform: translateY(-50%);
  }
}

.modal-btn {
  padding: 0 38px;
  height: 45px;
  @extend %bgc-decor;
  @extend %bxshd;
  border-radius: 2px;
  font-size: 10px;
  text-transform: uppercase;
  color: #292929;
  font-weight: 700;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__text {
    margin-left: 6px;
  }

  &:hover {
    box-shadow: 0px 0px 0px 0px rgba(88, 103, 221, 0.19);
  }
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
}

.sidebar {
  min-width: 280px;

  &__inner {
    overflow-y: auto;
    position: fixed;
    padding-top: 130px;
    padding-bottom: 40px;
    width: 280px;
    height: 100vh;
    @extend %bgc-accent;
    z-index: 40;

    &::before {
      content: "";
      position: fixed;
      background-color: rgba(255, 255, 255, 0.05);
      width: 150px;
      height: 80px;
      left: 0;
      bottom: 0;
    }
  }

  &__title {
    font-size: 13px;
    font-weight: 800;
    @extend %txtc-accent;
    text-transform: uppercase;
    padding: 0 20px;
    margin-bottom: 15px;
  }
}

.nav {
  margin-bottom: 50px;

  &__link {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 18px 20px 18px 60px;
    background-color: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color: #fff;
    transition: all 0.2s linear;

    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 0;
      @extend %bgc-decor;
      transition: all 0.2s linear;
    }

    &:hover {
      color: #f7b90f;

      &::before {
        height: 100%;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.contact {
  margin-bottom: 50px;

  &__list {
    margin-bottom: 5px;
  }

  &__link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color: #fff;
    padding: 0 20px 0 40px;
    transition: all 0.2s linear;
    position: relative;

    &:hover {
      color: #f7b90f;
    }
  }

  &__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.messenger {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    height: 1px;
    left: 20px;
    right: 20px;
    bottom: -30px;
  }

  &__item + .messenger__item {
    margin-left: 10px;
  }

  &__link {
    @extend %bgc-decor;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;

    &:hover {
      border-radius: 100%;
    }
  }
}

.bg-decor {
  &__wrapper {
    position: fixed;
    top: 200px;
    right: -300px;
  }

  &__box {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    @extend %bgc-decor;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__circle1 {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: rotate1 5s infinite;
    background-color: #2d2d32;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      @extend %bgc-decor;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__circle2 {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: rotate2 3s infinite;
    background-color: #303035;

    &::before {
      content: "";
      position: absolute;
      @extend %bgc-decor;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(270deg);
  }

  80% {
    transform: rotate(200deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.hero {
  padding: 50px;
  position: relative;
  z-index: 5;

  &__inner {
    padding: 40px 70px;
    @extend %bgc-accent;
    @extend %bxshd;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    &::before {
      @extend %circle;
      width: 200px;
      height: 200px;
      left: -100px;
      top: -100px;
    }
  }

  &__text {
    position: relative;
    max-width: 60%;
    margin-right: 40px;
  }

  &__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 65px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 22px;
    margin-bottom: 40px;
  }

  &__border {
    width: 60%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: 40px;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 1px;
      @extend %bgc-decor;
    }
  }

  &__form {
    margin-right: 30px;
    max-width: 600px;
  }

  &__form-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__form-text {
    margin-bottom: 15px;
  }

  &__form-input {
    height: 50px;
    padding: 0 20px;
    @extend %bgc-accent2;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    display: block;
    position: relative;
    z-index: 5;

    &:focus {
      @extend %bgc-main;
    }
  }

  &__btn {
    padding: 0 38px;
    height: 50px;
    @extend %bgc-decor;
    @extend %bxshd;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #292929;
    font-weight: 700;
    transition: all 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    position: relative;
    border-width: 0px;
    outline: none;
    width: 100%;

    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(88, 103, 221, 0.19);
    }
  }

  &__pattern {
    left: -64px;
    bottom: -79px;
    width: 100%;
    height: 300px;
    @extend %pattern;
  }

  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
  }

  &__img-inner {
    position: relative;
  }

  &__img-tranglewrp {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 0;
    top: 0;
    z-index: 6;
  }

  &__img-trangleprl {
    width: 120px;
    height: 120px;
  }

  &__img-trangle {
    width: 120px;
    height: 120px;
    border-top: 4px solid #f7b90f;
    transform: rotate(25deg);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -42px;
      left: 17px;
      width: 85px;
      height: 85px;
      transform: rotate(45deg);
      border-right: 4px solid #f7b90f;
      border-bottom: 4px solid #f7b90f;
    }
  }

  &__img-parallax {
    position: relative;
    z-index: 5;
  }

  &__img {
    position: relative;
  }

  &__img-circlewrp {
    position: absolute;
    left: -23px;
    bottom: -23px;
    width: 100px;
    height: 100px;
  }

  &__img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid #f7b90f;
    position: relative;
  }

  &__img-rectwrp {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 150px;
    position: absolute;
  }

  &__img-rect {
    @extend %bgc-decor;
    width: 100%;
    height: 150px;
  }

  &__bage {
    display: flex;
  }

  &__bage-item {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 40px 30px;
    @extend %bgc-accent;
    @extend %bxshd;
    align-items: center;
    width: 33.333%;

    &::before {
      @extend %circle;
      width: 80px;
      height: 80px;
      right: -40px;
      top: -40px;
    }
  }

  &__bage-item + .hero__bage-item {
    margin-left: 30px;
  }

  &__bage-icon {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 30px;
    @extend %bgc-decor;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.14);
    z-index: 2;
  }

  &__bage-num {
    position: relative;
    font-size: 34px;
    line-height: 1;
    color: #f7b90f;
    font-weight: 800;
    z-index: 2;
    margin-bottom: 10px;
  }

  &__bage-subtitle {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-bottom: 4px;
  }

  &__bage-decor {
    position: absolute;
    font-size: 100px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    opacity: 0.08;
    font-weight: 800;
    z-index: 1;
  }
}

.tabs {
  &__nav {
    display: flex;
    margin-bottom: 30px;
  }

  &__nav-items {
    height: 40px;
    width: 25%;
    @extend %bgc-accent2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  &__nav-items.--active-tab,
  &__nav-items:hover {
    @extend %bgc-main;
  }

  &__nav-items + .tabs__nav-items {
    margin-left: 10px;
  }

  &__nav-text {
    color: #fff;
    font-size: 12px;
  }

  &__icon {
    margin-right: 5px;
  }

  &__content-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__content {
    margin-right: 10px;
    min-width: 50%;
  }

  &__content-item {
    display: none;
  }

  &__content-item.--active-tab {
    display: block;
  }
}

.partners {
  position: relative;
  z-index: 5;
  margin-bottom: 50px;

  &__bg {
    margin: 0 50px 50px 50px;
    padding: 50px 50px 80px 50px;
    position: relative;
    @extend %bgc-accent;
    @extend %bxshd;
    overflow: hidden;
  }

  &__title {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 800;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  &__text {
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 25px;
    max-width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  &__subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 5;
  }

  &__niche-box {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
  }

  &__niche {
    display: block;
    width: 200px;
    position: relative;
    z-index: 5;
  }

  &__niche + .partners__niche {
    margin-left: 30px;
  }

  &__niche-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #39393e;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 2px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    transition: all .3s ease-in-out;
  }
  &__niche:hover .partners__niche-icon {
    @extend %bgc-main;
  }
  &__niche-text {
    color: #fff;
    text-align: center;
    font-size: 15px;
    display: block;
    padding-top: 15px;
  }

  &__pattern {
    @extend %pattern;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 200px;
  }

  &__decor {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -70px;
    left: -50px;
    opacity: 0.3;
    z-index: 1;
  }

  &__slider {
    display: flex;
    margin: 0 50px 40px 50px;
  }

  &__slider-box {
    min-width: 0;
  }

  &__slider-text {
    min-width: 200px;
    width: 200px;
    margin-right: 30px;
  }

  &__slider-nav {
    padding-left: 280px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slider-pagination {
    min-width: 250px;
  }

  &__slider-arrows {
    position: relative;
  }

  &__slider-title {
    font-size: 20px;
    margin-bottom: 25px;
  }

  &__slider-border {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;

    &::before {
      content: "";
      left: 0;
      top: -2px;
      height: 4px;
      width: 50px;
      @extend %bgc-decor;
      position: absolute;
    }
  }

  &__slider-item {
    @extend %bgc-accent;
    &:hover .partners__slider-logo {
      background-color: #303035;
    }
  }

  &__slider-logo {
    padding: 20px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
  }

  &__slider-name {
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__slider-descr {
    padding: 0 15px;
    margin-bottom: 40px;
    @extend %txtc-accent;
  }

  &__slider-next,
  &__slider-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 4px solid #f7b90f;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    svg path {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-color: #f7b90f;
      svg path:nth-child(2) {
        fill: #fff;
      }
    }
  }

  &__slider-prev {
    left: 0;
    top: 30px;
  }

  &__slider-next {
    left: 50px;
    top: 30px;
  }

  &__slider-decor {
    width: 70%;
    max-width: 70%;
    position: relative;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 1px;
      @extend %bgc-decor;
    }
  }

  .partners-pagination .swiper-pagination-bullet {
    margin-right: 6px;
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @extend %bgc-decor;
}

.task {
  position: relative;
  z-index: 5;
  &__inner {
    margin: 0 50px 50px 50px;
    padding: 50px 50px 80px 50px;
    position: relative;
    overflow: hidden;
    @extend %bxshd;
    @extend %bgc-accent;
    &::before {
      @extend %circle;
      width: 150px;
      height: 150px;
      top: -75px;
      left: -75px;
    }
  }
  &__title {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 800;
    text-align: center;
  }
  &__subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    position: relative;
    @extend %bgc-accent2;
    @extend %bxshd;
    width: 33.3333%;
    height: 170px;
    padding: 30px;
  }
  &__item + .task__item {
    margin-left: 30px;
  }
  &__icon {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 2px;
    @extend %bgc-decor;
    display: flex;
    margin-right: 30px;
    position: relative;
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__step {
    font-size: 25px;
    margin-bottom: 15px;
  }
  &__numb {
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 0;
    right: 0;
    @extend %bgc-main;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.portfolio {
  position: relative;
  z-index: 5;
  &__items {
    margin: 0 50px 50px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }
  &__item {
    position: relative;
    overflow: hidden;
  }
  &__text-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    @extend %bgc-accent2;
    padding: 15px 20px;
    display: flex;
    align-items: center;
  }
  &__text {
    max-width: 40%;
  }
  &__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__subtitle {
    font-size: 14px;
  }
  &__decor {
    padding-left: 10px;
    width: 60%;
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: auto;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 30%;
      height: 4px;
      top: -2px;
      right: 0;
      @extend %bgc-decor;
      transition: all 0.3s ease-in-out;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    @extend %bgc-decor;
    position: absolute;
    top: -70px;
    right: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    svg {
      position: absolute;
      top: 9px;
      left: 9px;
    }
  }
  &__item {
    &:hover .portfolio__line::before {
      right: 70%;
    }
    &:hover .portfolio__icon {
      top: 30px;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__offer {
    margin: 0 50px 50px 50px;
    padding: 30px;
    @extend %bgc-decor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      transform: scale(1);
      z-index: 1;
      left: -50px;
      top: -100px;
      transition: all 0.4s ease-in-out;
    }
    &:hover::before {
      transform: scale(1.5);
    }
    &::after {
      content: "";
      position: absolute;
      width: 250px;
      height: 250px;
      z-index: 1;
      background-image: url(../images/mai.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transform: scale(1) rotate(45deg);
      right: 120px;
      bottom: -40px;
      opacity: 0.4;
      transition: all 0.4s ease-in-out;
    }
    &:hover::after {
      transform: scale(0.6) rotate(25deg);
    }
  }
  &__offer-title {
    position: relative;
    z-index: 5;
  }
  &__offer-btn {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 2px;
    background-color: #292929;
    color: #fff;
    font-size: 14px;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.marketing {
  position: relative;
  z-index: 5;
  &__container {
    margin: 0 50px 50px 50px;
  }
  &__bg {
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    position: relative;
    margin-bottom: 50px;
    @extend %bxshd;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.5;
      z-index: 1;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
  }
  &__line {
    display: block;
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin-bottom: 40px;
    &::before {
      content: "";
      position: absolute;
      width: 150px;
      height: 4px;
      @extend %bgc-decor;
      right: 0;
      top: -2px;
      z-index: 2;
    }
  }
  &__subtitle {
    max-width: 500px;
    line-height: 1.5;
    position: relative;
    z-index: 2;
    font-size: 18px;
  }
  &__inner {
    display: flex;
    align-items: flex-start;
  }
  &__methods {
    min-width: 270px;
    width: 270px;
    padding-right: 35px;
    position: sticky;
    top: 90px;
  }
  &__name-box {
    display: flex;
    align-items: center;
    @extend %bgc-accent;
    padding: 15px 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      right: -27px;
      top: 50%;
      height: 1px;
      width: 0;
      background-color: rgba(255, 255, 255, 0.15);
      transition: all 0.3s ease-in-out;
    }
  }
  &__name-box + .marketing__name-box {
    margin-top: 10px;
  }
  &__icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %bgc-accent2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
  &__name {
    font-size: 14px;
  }
  &__arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    display: none;
  }
  &__name-box:hover .marketing__arrow {
    display: block;
    path:nth-child(2) {
      fill: #f7b90f;
    }
  }
  &__name-box.--marketing-active {
    @extend %bgc-decor;
    position: relative;
    .marketing__icon {
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.3);
      path:nth-child(2) {
        fill: #f7b90f;
      }
    }
    .marketing__name {
      color: #000;
    }
    .marketing__arrow {
      display: block;
      path:nth-child(2) {
        fill: #000;
      }
    }
    &::before {
      width: 20px;
    }
    &::after {
      content: "";
    }
  }
  &__description-box {
    padding: 50px;
    @extend %bgc-accent;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
  }
  &__description {
    display: none;
    position: relative;
    &::before {
      @extend %pattern;
      bottom: -45px;
      right: -41px;
      width: 60%;
      height: 300px;
    }
  }
  &__description.--marketing-active {
    display: block;
  }
  &__description-header {
    display: flex;
    margin-bottom: 40px;
  }
  &__description-img {
    min-width: 50%;
    width: 50%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 50px;
  }
  &__description-list {
    width: 100%;
  }
  &__description-items {
    padding: 20px 0 20px 30px;
    margin-bottom: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 0;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.08);
      height: 100%;
    }
  }
  &__description-item {
    padding: 15px 20px;
    @extend %bgc-main;
    width: 90%;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.08);
    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      @extend %bgc-decor;
      left: -29px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__description-item + .marketing__description-item {
    margin-top: 15px;
  }
  &__description-accent {
    padding: 15px 25px;
    @extend %bgc-decor;
    display: inline-block;
    border-radius: 2px;
    color: #000;
    font-weight: 800;
  }
  &__description-name {
    padding: 15px 35px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 800;
    @extend %bgc-main;
    display: inline-block;
    span {
      font-size: 12px;
      margin-right: 5px;
      color: #999;
    }
  }
  &__description-text {
    padding: 30px;
    @extend %bgc-accent2;
    border: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: 30px;
    position: relative;
    z-index: 5;
    p {
      line-height: 1.5;
      margin-bottom: 20px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  &__description-btn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 2px;
    color: #000;
    @extend %bgc-decor;
    transition: all 0.3s ease-in-out;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
    z-index: 5;
    &:hover {
      @extend %bgc-main;
      color: #f7b90f;
    }
  }
  &__description-line {
    position: relative;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: block;
    position: relative;
    z-index: 5;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      @extend %bgc-decor;
      border-radius: 50%;
      right: 0;
      top: -4px;
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;

  &__body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
  }

  &__content {
    @extend %bgc-accent;
    padding: 80px 50px;
    max-width: 800px;
    width: 100%;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
  }

  &__close {
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 20px;
    z-index: 5;

    path {
      transition: all 0.3s ease-in-out;
    }

    &:hover path:nth-child(2) {
      opacity: 0.8;
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
  }

  &__text {
    margin-bottom: 15px;
    max-width: 500px;
    position: relative;
    z-index: 5;
  }

  &__text-link {
    color: #f7b90f;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 5;

    &:hover {
      opacity: 0.8;
    }
  }

  &__border {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
    max-width: 500px;
    position: relative;
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      @extend %bgc-decor;
      right: 0;
      top: -3px;
    }
  }

  &__pattern {
    @extend %pattern;
    right: 3px;
    bottom: 3px;
    width: 300px;
    height: 300px;
  }

  &__decor {
    width: 30%;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    @extend %bgc-accent2;
    border: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 70%;
      top: 50%;
      right: 0;
      background-color: rgba(255, 255, 255, 0.1);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 60px;
      top: 50%;
      right: calc(70% - 60px);
      @extend %bgc-decor;
      z-index: 2;
    }
  }
}

.popup-form {
  max-width: 650px;

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

  &__icon {
    width: 70px;
    height: 50px;
    @extend %bgc-decor;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    height: 50px;
    padding: 0 20px;
    @extend %bgc-accent2;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    display: block;
    position: relative;
    z-index: 5;

    &:focus {
      @extend %bgc-main;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 170px;
    resize: none;
    padding: 30px 20px;
    margin-bottom: 40px;
    border: none;
    outline: none;
    color: #fff;
    position: relative;
    z-index: 5;
    @extend %bgc-accent2;

    &:focus {
      @extend %bgc-main;
    }
  }

  &__submit {
    display: inline-block;
    height: 50px;
    padding: 0 50px;
    border: none;
    outline: none;
    @extend %bgc-decor;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.popup-partners {
  &__content {
    max-width: 1100px;
    padding: 0;
    overflow: hidden;
    &::before {
      @extend %circle;
      width: 200px;
      height: 200px;
      right: -100px;
      bottom: -100px;
    }
  }
  &__wrapper {
    display: flex;
  }
  &__list {
    min-width: 60%;
    width: 60%;
    margin-right: 20px;
    @extend %bgc-accent2;
    padding: 50px;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 30px;
    padding-left: 65px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
      width: 50px;
      height: 50px;
      border-radius: 2px;
      background-color: #f7b90f;
    }
  }
  &__title-auto {
    &::before {
      background-image: url(../images/auto.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__title-repair {
    &::before {
      background-image: url(../images/repair.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__title-engineering {
    &::before {
      background-image: url(../images/engineering.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__title-interior {
    &::before {
      background-image: url(../images/interior.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__title-business {
    &::before {
      background-image: url(../images/business.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__text {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
  }
  &__items {
    max-height: 600px;
    overflow: auto;
    padding-right: 10px;
  }
  &__item {
    font-size: 17px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      @extend %bgc-decor;
      left: 0;
      top: 50%;
    }
  }
  &__form {
    margin-left: 20px;
    padding: 50px 50px 50px 0;
  }
  &__form-title {
    font-size: 17px;
    margin-bottom: 30px;
  }
}

.popup.open {
  visibility: visible;
  opacity: 1;

  .popup__content {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@import "media";
